/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(H11base.png);
}

.ds4.white.disconnected {
    background: url(H11disconnected.png);
}

.ds4.white .trigger {
    background-image: url(H11triggers.png);
}

.ds4.white .bumper {
    background-image: url(H11bumper.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(H11start.png);
}

.ds4.white .button {
    background-image: url(H11face.png);
}

.ds4.white .stick {
    background-image: url(H11sticks.png);
}

.ds4.white .face {
    background-image: url(H11dpad.png);
}

/*END PS4 White Controller Styling*/
